*,*::before,*::after {
    box-sizing: border-box;
  }
  
html, body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

@font-face {
  font-family: 'Guminert';
  src: url('../fonts/Guminert.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}